<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .header{
            height: 20px;
            background: blueviolet;
        }
    </style>
</head>
<body>
<div class="header"></div>

<form action="" method="post">

{% csrf_token %}

Ten dang nhap

    <div>
        <input type="text" name="username">
    </div>

Mat khau
    <div>
    <input type="text" name="password">
    </div>

    <div>
    <input type="submit" value="dang nhap" >
    </div>

</form>
</body>
</html>